reto_2

Captura de Pantalla 2023-03-15 a la(s) 09.28.03.png

Captura de Pantalla 2023-03-15 a la(s) 09.28.10.png

Captura de Pantalla 2023-03-15 a la(s) 09.29.06.png

Captura de Pantalla 2023-03-15 a la(s) 09.29.22.png

Captura de Pantalla 2023-03-15 a la(s) 09.33.22.png

Captura de Pantalla 2023-03-15 a la(s) 09.36.29.png

//No se subieron ya que git ignore las ignora 